<!DOCTYPE html>
{% load static %}
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title }}</title>
    <link href="{% static 'css/styles.css' %}" rel="stylesheet" type="text/css">
    <link href="{% static 'css/normalize.css' %}" rel="stylesheet" type="text/css">
    {% block extraStyles %}
        <!-- Расширение стилей и другой мета-информации -->
    {% endblock %}
</head>
<body>
<div class="container">
    <header class="header">
        {% include 'header.html' %}
    </header>
    <main class="content">
        <div>
            {% block sidebar %}
                {% block menu %}
                    {% include 'sidebar.html' %}
                {% endblock %}

                {% block other %}
                {% endblock %}
            {% endblock %}
        </div>
        {% include 'includes/messages.html' %}
        {% block content %}
            {% include 'home.html' %}
        {% endblock %}
<!--        {% include 'accounts/online_users.html' %}-->
    </main>
</div>
</body>

{% block script %} <script src="{% static 'js/backend.js' %}"></script>{% endblock %}
</html>